<!-- add environment selection button group -->

<!-- display list of polls in a list group -->
<div class="list-group">
    <% data.forEach(function(poll) {
        var currentEpoch = parseInt((new Date()).getTime() / 1000);
        var aClass = 'warning';
        if (poll.startTimestamp < currentEpoch && poll.endTimestamp > currentEpoch) {
            aClass = 'success';
        }
    
    %>
        <a href="#" class="list-group-item list-group-item-<%= aClass %>">
            <%= poll.title %> 
        </a>
    <% }) %>
</div>


<!--
{ 
    _id: 'F8C1BC09-1E3E-43BC-AC2A-234BFD5CF96E',
    title: 'labelPollTest',
    elements: [ { id: 255, type: 'item' }, { id: 308, type: 'item' } ],
    startTimestamp: 1462060800,
    endTimestamp: 1464652800 
}
-->



<!-- javascript -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#env .btn').click(function() {
            var clickedDom = $(this);
            var parent = $(this).parent().parent();
            var id = parent.data('id');
            var env = $(this).data('environment');
            var method = 'delete';
            var payload = { environment: env };
            if ($(this).data('state') == 'off') {
                method = 'put';
                payload.alias = parent.data('alias');
                payload.type = parent.data('type');
                payload.animated = parent.data('animated');
            }
            // alert('clicked on:' + $(this).parent().data('id') + ' action:' + method + ' data:' + JSON.stringify(payload));

            $.ajax({
                method: method,
                url: '/1/emotes/' + id,
                data: payload,
                success: function(result, status, xhr) {
                    // alert("Data: " + JSON.stringify(result) + "\nStatus: " + status + "\nXHR: " + xhr);
                    clickedDom.toggleClass('btn-success-outline').toggleClass('btn-success');
                    if (method == 'put')
                        clickedDom.data('state', 'on');
                    else
                        clickedDom.data('state', 'off');
                },
                error: function(xhr, status, error) {
                    // alert("xhr: " + JSON.stringify(xhr) + "\nStatus: " + status + "\nerror: " + error);
                    $('.modal-body').html('<pre>'+xhr.responseJSON.message+'</pre>');
                    $('#errModal').modal();
                    // xhr.responseText
                }
            });
        }).mouseup(function() {
            $(this).blur();
        });
    });
</script>
